@import "../../../../_styles/mixins";
.single-new {
  .single-page-header {
    &__banner {
      position: relative;
      transform: translateX(12rem);
      width: 71rem;
      height: 36.4rem;
      border-radius: 2.4rem 0 0 2.4rem;
      overflow: hidden;
      margin-bottom: 1.6rem;

      img {
          width: 100%;
          height: 100%;
          position: relative !important;
          object-fit: cover !important;
          object-position: center;
      }

      @include screen-breakpoint($screen-middle-px) {
          max-width: 66rem;
          width: 100%;
          height: 24.5rem;
          border-radius: 3.2rem;
          transform: none;
          margin-bottom: 4rem;
      }

      @include screen-breakpoint($screen-small-px) {
          max-width: 100%;
          height: 18rem;
          transform: none;
          overflow: hidden;
          padding: 0;
          img {
              object-fit: contain !important;
          }
      }
    }
  }
}